
body {
    font-family: "Courier New", monospace, Tahoma, sans-serif;
    color: #000000;
    background-color: #fff;
}

h1 {
    text-transform: uppercase;
    padding: 1em; 
    text-align: center;     
}

img {
    max-width: 100%;
    height: auto;
    text-align: center;
}
  
video{
    max-width: 100%;
    height: auto;
    text-align: center;
}