/* 0,0,1 */
body{
    display: flex;
    flex-wrap: wrap;
}

/* 0,0,1 */
nav{
    width: 100%;
    text-align: center;
}

/* 0,0,1 */
main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* 0,0,2 */
main section{
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
}

/* 0,0,3 */
main aside picture {
    max-width: 100%;
}

/* 0,0,1 */
header {
    text-align: center;
    width: 100%;
}